.navbar {
  padding: 0;
}
.navbar,
.navbar .dropdown-item {
  font-size: 14px;
}
.navbar .navbar-brand {
  font-size: 16px;
  font-weight: bold;
  color: rgba(255,255,255,.25);
  margin-left:15px;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #343a40;
}
.navbar-nav > li > .dropdown-menu a {
  color: #ddd;
}

.dropdown-menu {
  border-radius:0;
  margin:0;
  padding:5px 0 5px 0;
  margin-top:-1px;
  margin-left:-2px;
  min-width:0;
}
.dropdown-item {
  padding-left: 14px;
  padding-right: 14px;
}
.dropdown-item:hover {
  background: #4d565f;
}
.dropdown-divider {
  border-color: #636f7c;
}
.navbar-nav li .dropdown-menu .dropdown-item {
  color: rgba(255,255,255,.5);
}

.navbar-brand {
}
.nav-item {
  border-left: 1px solid #202427;
}
.dropdown-divider{
  margin:0;
}

.dropdown-toggle::after {
  margin-bottom:-2px;
}

.dropdown-item fa-icon {
  width:23px;
  display:inline-block;
  text-align:left;
}
.dropdown-item span {
  display:inline-block;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .7rem;
    padding-left: .7rem;
  }
}

@media (max-width: 992px) {
  .navbar.navbar-dark .navbar-toggler,
  .navbar.navbar-dark .navbar-toggler:active {
    border: none;
  }

  .navbar-dark .navbar-nav .nav-link{
    padding-left:15px;
  }

  ul.navbar-nav {
    border-top: 1px solid #16181a;
    padding-top:5px;
    padding-bottom:10px;
  }
}
