<div class="page">
  <div>
    <textarea class="todo short" pInputTextarea spellcheck="false"
              *ngIf="todoWrap != null && todoWrap.shortTodo != null"
              [(ngModel)]="todoWrap.shortTodo.content"></textarea>
  </div>
  <div>
    <textarea class="todo long" pInputTextarea spellcheck="false"
              *ngIf="todoWrap != null && todoWrap.longTodo != null"
              [(ngModel)]="todoWrap.longTodo.content"></textarea>
    <textarea class="todo archive" pInputTextarea spellcheck="false"
              *ngIf="todoWrap != null && todoWrap.archiveTodo != null"
              [(ngModel)]="todoWrap.archiveTodo.content"></textarea>
  </div>
  <div>
    <button (click)="btnSave()">Save</button>
    <button (click)="showTodoWrap()">Show me</button>
  </div>
</div>
