.grid{
    vertical-align: top;
    clear: both;
    max-width:1200px;
    margin:auto;
}
.column{
    width:33.33%;
    vertical-align: top;
    display: inline-block;
}
.tile{
    padding:5px;
    position: relative;
}
.tile img{
    width:100%;
    border-radius: 10px;
    border:1px solid #eee;
}

.title h2{
    text-align: center;
    padding-bottom:5px;
}

.filter{
    text-align: center;
    padding-bottom:15px;
}
.filter-card,
.txt{
    margin:5px 15px;
}
.txt{
    color:#777;
}
.filter-card{
    cursor: pointer;
}
.filter-card.active{
    border-bottom: 2px solid #aa45aa;
}
.ib{
    display: inline-block;
}

.icons{
    position: absolute;
    top:15px;left:0;right:15px;
    height:30px;
    text-align: right;
}
.icon{
    padding:5px 8px;
    border-radius: 10px;
    background:#fff;
    color:#888;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border:1px solid #888;
    margin-left:10px;
    display: none;
}
.tile:hover .icon{
    display: inline-block;
}
.icon:hover{
    color:#222;
}

@media screen and (max-width: 800px) {
    .column{
        width:50%;
    }
}