<div class="grid">
    <!--<div class="title">
        <h2>References</h2>
    </div>-->
    <div class="filter">
        <div class="ib filter-card" [ngClass]="{'active': filter === 'instagram'}" (click)="setFilter('instagram')">Instagram feed</div>
        <div class="ib txt">Filter:</div>
        <div class="ib filter-card" [ngClass]="{'active': filter === 'all'}" (click)="setFilter('all')">All</div>
        <div class="ib filter-card active" [ngClass]="{'active': filter === 'photo'}" (click)="setFilter('photo')">Photo</div>
        <div class="ib filter-card" [ngClass]="{'active': filter === 'painting'}" (click)="setFilter('painting')">Painting</div>
    </div>
    <div *ngIf="filter !== 'instagram'">
        <div class="column" *ngFor="let column of filteredImages">
            <div class="tile" *ngFor="let image of column">
                <div>
                    <div class="icons">
                        <div class="icon" title="Open in popup">
                            <fa-icon icon="window-restore"></fa-icon>
                        </div>
                        <div class="icon" title="Open in new window">
                            <fa-icon icon="window-maximize"></fa-icon>
                        </div>
                    </div>
                    <img src="{{image.url}}" alt="{{image.title}}" />
                </div>
            </div>
        </div>
    </div>
</div>